* {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

h1 {
    font-size: 56px;
    line-height: 56px;
}
h2 {
    font-size: 46px;
    line-height: 46px;
}
h3 {
    font-size: 36px;
    line-height: 36px;
}
h4 {
    font-size: 26px;
    line-height: 26px;
}
h5 {
    font-size: 19px;
    line-height: 19px;
}
h6 {
    font-size: 16px;
    line-height: 16px;
}

p {
    font-size: 16px;
    line-height: 16px;
}
